<!DOCTYPE html>
<html>
<head>
  <title>FaaizStore</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Faaiz Book Store</h1>
    <input type="text" id="searchInput" placeholder="Enter search keywords...">
    <button id="byTitle">Search Title</button>
    <button id="byAuthor">Search Author</button>
    <button id="byIsbn">Search ISBN</button>
    <button id="getAll">Get All</button>
    <link rel="stylesheet" href="styles.css">
  </header>
  <main>
    <table id="bookTable">
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
       
       
      </tbody>
    </table>
  </main>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="fetch.js"></script>
</body>
</html>
